@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900&display=swap');

/*==
font-family: 'Rubik', sans-serif;
==*/

@font-face {
    font-family: 'Zooja';
    src: url('../fonts/Zooja.eot');
    src: url('../fonts/Zooja.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Zooja.woff2') format('woff2'),
        url('../fonts/Zooja.woff') format('woff'),
        url('../fonts/Zooja.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

