::-moz-selection {
    color: #fff;
    background: #d62b67
}

::selection {
    color: #fff;
    background: #d62b67
}

::-moz-selection {
    color: #fff;
    background: #d62b67
}

html,
body {
    height: 100%;
    min-height: 100%
}

body {
    color: #404042;
    font-size: 14px;
    font-weight: normal;
    line-height: 18px;
    font-family: 'Rubik', sans-serif;
    background: #fff;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}

.bakash {
    overflow: hidden;
}

/*==Global css starts==*/

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 25px;
    color: #000;
    font-weight: 500;
    line-height: normal;
    outline: none;
    margin-top: 0;
}

h1 {
    font-size: 48.04px;
}

p:last-child {
    margin-bottom: 0
}

a,
button {
    outline: none;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease
}

input,
textarea {
    outline: none
}

img {
    max-width: 100%
}

ul,
ol {
    padding-left: 20px
}

ul li,
ol li {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 10px
}

a {
    color: #3f3f3f;
    text-decoration: none;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out
}

a:hover,
a:focus {
    text-decoration: none;
    outline: none;
    color: #d62b67;
}

.btn,
.button,
.btn-default {
    padding: 10px 20px;
    font-size: 16.67px;
    font-weight: 400;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out
}

.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active {
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out
}

img {
    max-width: 100%;
    height: auto
}

/* Sweep To Right */

.hvr-sweep-to-right {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.hvr-sweep-to-right:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #611d70;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-sweep-to-right:hover,
.hvr-sweep-to-right:focus,
.hvr-sweep-to-right:active {
    color: #fff;
}

.hvr-sweep-to-right:hover:before,
.hvr-sweep-to-right:focus:before,
.hvr-sweep-to-right:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.container {
    width: auto;
    max-width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto
}

.clear-float:before,
.clear-float:after {
    content: '';
    display: table;
    clear: both;
}

section {
    position: relative;
}

section:before {
    content: '';
    font-family: 'Zooja';
    font-size: 190px;
    color: #fbf8fb;
    position: absolute;
    top: 160px;
    left: 50%;
    width: 100%;
    height: 100%;
    font-weight: normal;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

section .container {
    position: relative;
    z-index: 2;
}

section h2 {
    font-size: 48px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 100px;
}

/*==Global css ends==*/

/*== main-header starts==*/
.main-header {
    min-height: 70px;
    background: rgba(255, 255, 255, .9);
}

.main-header.fixed {
    -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, .2);
    box-shadow: 0 10px 10px rgba(0, 0, 0, .2);
}

.main-header .logo {
    float: left;
    display: block;
    margin: 10px 0 0 0;
    max-width: 200px;
}

.main-header .navbar {
    float: right;
    padding-top: 12px;
    padding-bottom: 0;
}

.main-header .navbar-nav li {
    margin-bottom: 0;
    position: relative;
}

.main-header .navbar-nav li a,
.main-header .navbar-nav .nav-link {
    font-size: 16px;
    padding: 40px 25px 50px 25px;
    font-weight: 500;
    color: #000;
    border-radius: 20px 20px 0 0;
    background: transparent;
    text-transform: uppercase;
}

.main-header .navbar-nav li:hover a,
.main-header .navbar-nav li:focus a,
.main-header .navbar-nav li:active a,
.main-header .navbar-nav li a.active {
    background: #611d70;
    color: #fff;
}

.main-header .navbar-nav li.lang .nav-link,
.main-header .navbar-nav li.lang:hover .nav-link,
.main-header .navbar-nav li.lang:active .nav-link,
.main-header .navbar-nav li.lang:focus .nav-link,
.main-header .navbar-nav li.lang .nav-link.active {
    border-radius: 0;
    color: #000;
    background: transparent;
}

.main-header .navbar-nav .nav-item.lang:hover .nav-link,
.main-header .navbar-nav .nav-item.lang:active .nav-link,
.main-header .navbar-nav .nav-item.lang:focus .nav-link,
.main-header .navbar-nav .nav-item.lang .nav-link.active {
    color: #823f91;
}

.main-header.fixed .logo {
    max-width: 100px;
}

.main-header.fixed .navbar-nav li a,
.main-header.fixed .navbar-nav .nav-link {
    padding: 20px 15px 20px 15px;
    font-size: 14px;
}

/*== main-header ends==*/
/*==main-footer starts==*/
.main-footer {}

.main-footer .footer-top {
    background: url(../images/footer-bg.png) 0 0 no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 115px 0;
}

.main-footer .footer-top h3 {
    text-transform: uppercase;
    font-weight: 700;
    color: #151515;
    font-size: 31.91px;
    margin-bottom: 5px;
}

.main-footer .footer-top h3 span {
    font-weight: 300;
    text-transform: none;
    display: block;
}

.main-footer .footer-top ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-footer .footer-top ul li {
    display: block;
    float: left;
    margin-right: 40px;
    position: relative;
}

.main-footer .footer-top ul li:last-child {
    margin-right: 0;
}

.main-footer .footer-top ul li img {
    position: absolute;
    left: 0;
}

.main-footer .footer-top ul li span {
    padding-left: 45px;
    font-size: 18px;
    font-weight: 400;
    color: #151515;
    display: block;
}

.main-footer .footer-top ul li a span {
    padding-top: 10px;
    color: #151515;
}

.main-footer .footer-btm {
    background: #000000;
    padding: 50px 0;
}

.main-footer .footer-btm p {
    text-transform: uppercase;
    font-size: 18px;
    margin-bottom: 0;
    color: #fff;
    font-weight: 400;
}

/*==main-footer ends==*/
/*==banner starts==*/
.banner-wrap {
    margin-top: 120px;
}

.banner-wrap .banner {
    height: 820px;
    margin-bottom: 0;
    overflow: hidden;
}

#slick-animate [data-animation-in] {
    /*    opacity: 0;*/
}

.banner-wrap .banner .item {
    height: 820px;
    /*    height: calc(100vh - 120px);*/
    width: 100%;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: 50% 50% !important;
}

.banner-wrap .banner .item .container {
    position: relative;
    height: 100%;
}

.banner-wrap .banner .item .move-me {
    margin-top: 160px;
    margin-bottom: 140px;
    padding-left: 40px;
}

.banner-wrap .banner .item h1 {
    font-size: 48.04px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 5px;
}

.banner-wrap .banner .item h2 {
    font-size: 38.03px;
    color: #fff;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.banner-wrap .banner .item p {
    font-size: 24.02px;
    font-style: italic;
    color: #fff;
    line-height: normal;
    margin-bottom: 50px;
}

.banner-wrap .banner .item .cta-btn {
    border-radius: 10px;
    background: #000000;
    padding: 25px 60px;
    text-align: center;
    text-transform: uppercase;
    font-size: 19.25px;
    font-weight: 400;
    color: #fff;
    overflow: hidden;
}

.banner-wrap .banner .item ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.banner-wrap .banner .item ul li {
    float: left;
    display: block;
    width: 25%;
    padding: 0 10px;
    text-align: center;
}

.banner-wrap .banner .item ul li img {
    margin: 0 auto 10px auto;
}

.banner-wrap .banner .item ul li span {
    font-size: 16px;
    font-weight: 400;
    text-transform: none;
}

.banner-wrap .banner .item .scroller {
    position: absolute;
    top: 50%;
    left: -60px;
    -webkit-transform: translate(0%, -50%) rotate(270deg);
    transform: translate(0%, -50%) rotate(270deg);
}

.banner-wrap .banner .item .scroller img {
    -webkit-transform: rotate(-270deg);
    transform: rotate(-270deg);
    position: absolute;
    left: -37px;
    top: -7px;
}

.banner-wrap .banner .item .scroller span {
    font-size: 12px;
    color: #000;
    font-weight: 400;
    text-transform: uppercase;
}

.banner-wrap .banner .item .scroller.dark span {
    color: #000;
}

.banner-wrap .banner .item .scroller.light span {
    color: #fff;
}

.banner-wrap .banner .item .container .relative {
    position: relative;
}

.banner-wrap .banner .item .container .arthur-packet {
    margin-top: 37%;
}

.banner-wrap .banner .item .container .limur {
    position: relative;
    top: 100px;
    left: 0;
}

.banner-wrap .banner .item .container .arthur {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.banner-wrap .banner .slick-dots {
    bottom: 5px;
}

.banner-wrap .banner .slick-dots li {
    margin: 0;
}

.banner-wrap .banner .slick-dots li button:before {
    font-size: 15px;
    color: #d3d3d3;
    content: '\f111';
    opacity: 1;
    font-family: 'FontAwesome';
}

.banner-wrap .banner .slick-dots li.slick-active button:before {
    content: '\f192';
    font-family: 'FontAwesome';
    color: #010101;
}

/*==banner ends==*/
/*==advantages-section starts==*/
.advantages-section {
    padding: 130px 0;
    text-align: center;
}

.advantages-section:before {
    content: 'LES AVANTAGES';
    left: 28%;
    -webkit-transform: translate(-20%, 0);
    transform: translate(-20%, 0);
}

.advantages-section .info-block {}

.advantages-section .info-block ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.advantages-section .info-block ul li {
    float: left;
    display: block;
    width: 33.333%;
    margin-bottom: 85px;
    padding: 0 15px;
}

.advantages-section .info-block ul li span {
    font-size: 16px;
    color: #000;
    font-weight: 400;
    display: block;
    margin-top: 20px;
}

.advantages-section .info-list {
    position: relative;
}

.advantages-section .info-list:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 928px;
    height: 557px;
    background: url(../images/paw-bg.png) 0 0 no-repeat;
}

.advantages-section .info-list ul {
    list-style: none;
    margin: 0;
    padding: 100px 0 0 100px;
    text-align: left;
}

.advantages-section .info-list ul li {
    display: block;
    font-size: 20px;
    color: #fff;
    font-weight: 400;
    padding-left: 70px;
    margin-bottom: 30px;
    position: relative;
}

.advantages-section .info-list ul li:last-child {
    margin-bottom: 0;
}

.advantages-section .info-list ul li:before {
    content: '';
    background: url(../images/claw-nail.png) 0px 0px no-repeat;
    width: 50px;
    height: 18px;
    background-size: cover;
    position: absolute;
    left: 0;
    top: 5px;
}

/*==advantages-section ends==*/
/*==ingredients-section starts==*/
.ingredients-section {
    background: #f0f0f0;
    padding-top: 200px;
    overflow: hidden;
}

.ingredients-section:before {
    content: 'LES INGRÉDIENTS';
    color: #ebebeb;
    left: -15px;
    -webkit-transform: translate(15px, 0);
    transform: translate(15px, 0);
    top: 190px;
}

.ingredients-section .ingredients-tab {
    overflow: hidden;
    border-radius: 30px;
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, .2);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .2);
}

.ingredients-section .ingredients-tab .card {
    border: none;
    background: none;
    padding: 0;
    border-radius: 0;
}

.ingredients-section .ingredients-tab .card-header {
    padding: 0;
    background: none;
    border: none;
    border-radius: 0;
}


.ingredients-section .ingredients-tab .card-header .btn-link {
    width: 100%;
    text-align: left;
    padding: 40px 40px 30px 40px;
    font-size: 25.98px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    background: #823f91;
    border-radius: 0;
    text-decoration: none;
}

.ingredients-section .ingredients-tab .card-header .btn-link i {
    float: right;
    font-size: 26px;
}

.ingredients-section .ingredients-tab .card-header .btn-link.collapsed {
    width: 100%;
    text-align: left;
    padding: 40px 40px 30px 40px;
    font-size: 25.98px;
    font-weight: 700;
    color: #000;
    background: #fff;
    text-transform: uppercase;
}

.ingredients-section .ingredients-tab .card-header .btn-link.collapsed i:before {
    content: "\f106";
}

.ingredients-section .ingredients-tab .card-body {
    padding: 25px 40px;
    background: #fff;
    font-size: 17.99px;
    line-height: normal;
    color: #000;
    border-bottom: solid 2px #823f91;
}

.ingredients-section .ingredients-tab #collapseTwo .card-body {
    border-bottom-color: transparent;
}

.ingredients-section .ingredients-top {
    padding-bottom: 135px;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#efefef+0,ffffff+100 */
    background: rgb(239, 239, 239);
    /* Old browsers */
    /* FF3.6-15 */
    /* Chrome10-25,Safari5.1-6 */
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(239, 239, 239, 1)), to(rgba(255, 255, 255, 1)));
    background: linear-gradient(to bottom, rgba(239, 239, 239, 1) 0%, rgba(255, 255, 255, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#efefef', endColorstr='#ffffff', GradientType=0);
    /* IE6-9 */
}

.ingredients-section .ingredients-top .recipe-box {
    padding: 25px 0;
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
}

.ingredients-section .ingredients-top .recipe-box ul {
    list-style: none;
    margin: 0 auto 60px auto;
    padding: 0;
}

.ingredients-section .ingredients-top .recipe-box ul li {
    float: left;
    width: 33.333%;
    min-height: 300px;
    border-radius: 70px;
    padding: 100px 15px 20px 15px;
    position: relative;
    z-index: 1;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}

.ingredients-section .ingredients-top .recipe-box ul li span.big {
    font-size: 63.23px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 40px;
    display: block;
    line-height: normal;
}

.ingredients-section .ingredients-top .recipe-box ul li span.small {
    font-size: 21.15px;
    font-weight: 300;
    text-transform: uppercase;
    display: block;
}

.ingredients-section .ingredients-top .recipe-box ul li.p1 {
    background: #823f91;
    color: #fff;
}

.ingredients-section .ingredients-top .recipe-box ul li.p2 {
    background: #ece2ef;
    color: #000;
    margin-left: -10px;
}

.ingredients-section .ingredients-top .recipe-box ul li.p3 {
    background: #000;
    color: #fff;
    margin-left: -10px;
}

.ingredients-section .ingredients-top .recipe-box ul li:hover {
    z-index: 2;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}

.ingredients-section .ingredients-top .recipe-box h2 {
    margin-bottom: 10px;
    font-weight: 700;
    text-transform: uppercase;
}

.ingredients-section .ingredients-top .recipe {}

.ingredients-section .ingredients-top .recipe .txt {
    font-size: 26px;
    font-weight: 500;
    display: inline-block;
    margin-right: 10px;
    text-transform: uppercase;
}

.ingredients-section .ingredients-top .recipe .icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: solid 2px #000;
    padding: 4px 5px;
    margin-right: 10px;
}

.ingredients-section .ingredients-top .recipe .icon i {
    color: #823f91;
    font-size: 18px;
    text-align: center;
    display: block;
}

.ingredients-section .ingredients-btm {
    padding: 75px 0 188px 0;
    text-align: center;
    position: relative;
    background: #fff;
}

.ingredients-section .ingredients-btm:before {
    position: absolute;
    bottom: 0;
    content: '';
    left: 0;
    z-index: 0;
    width: 514px;
    height: 801px;
    background: url(../images/ingredients-l.png) 0 0 no-repeat;
}

.ingredients-section .ingredients-btm:after {
    position: absolute;
    top: 100%;
    content: '';
    top: 0;
    left: auto;
    right: 0;
    width: 514px;
    height: 801px;
    background: url(../images/ingredient-r.png) 0 0 no-repeat;
}

.ingredients-section .ingredients-btm .circle-wrap {
    position: relative;
    z-index: 3;
    max-width: 1600px;
    margin: 0 auto;
}

.ingredients-btm .circle-wrap .circle-lg {
    width: 1020px;
    height: 1020px;
    border-radius: 100%;
    background: #f8f4f9;
    overflow: hidden;
    margin: 0 auto;
    -webkit-animation: shadow 5s linear infinite;
    animation: shadow 5s linear infinite;
}

.ingredients-btm .circle-wrap .circle-item,
.ingredients-btm .circle-wrap .circle-md {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 895px;
    height: 895px;
    border-radius: 100%;
    background: #ece1ee;
    overflow: hidden;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}

.ingredients-btm .circle-wrap .circle-item img {
    max-width: 700px;
    margin: 180px auto 0 -22%;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}

.ingredients-btm .circle-wrap .circle-item:hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.ingredients-btm .circle-wrap .circle-md {
    width: 405px;
    height: 405px;
    background: transparent;
    -webkit-transform: none;
    transform: none;
    top: -30px;
    border: none;
}

/**
.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 2s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
**/
.ingredients-btm .circle-wrap .circle-md .overlay {
    position: absolute;
    top: -0em;
    width: 100%;
    height: 100%;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    z-index: 15;
    opacity: 0;
}

.ingredients-btm .circle-wrap .circle-md .overlay img {
    z-index: 12;
}

.ingredients-btm .circle-wrap .circle-md:hover .overlay {
    top: 0em;
    opacity: 1;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}

.ingredients-btm .circle-wrap .circle-md .circle-ms {
    text-align: center;
    width: 100%;
    height: 100%;
    border: none;
    padding: 20% 15px;
}

.ingredients-btm .circle-wrap .circle-md .circle-ms h5 {
    font-size: 26px;
    letter-spacing: 0px;
    text-transform: uppercase;
    color: #833f91;
    font-weight: 600;
    letter-spacing: 1px;
}

.ingredients-btm .circle-wrap .circle-md .circle-ms h5 span {
    color: #000;
    font-size: 26px;
    font-weight: 400;
    display: block;
}

.ingredients-btm .circle-wrap .circle-md.pos1,
.ingredients-btm .circle-wrap .circle-md.pos3 {
    left: 0;
}

.ingredients-btm .circle-wrap .circle-md.pos2,
.ingredients-btm .circle-wrap .circle-md.pos4 {
    left: auto;
    right: 0;
}

.ingredients-btm .circle-wrap .circle-md.pos3,
.ingredients-btm .circle-wrap .circle-md.pos4 {
    top: auto;
    bottom: -70px;
}

.ingredients-btm .circle-wrap .circle-md .overlay img {
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    z-index: 15;
}

.ingredients-btm .circle-wrap .circle-md:hover .overlay img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}

.ingredients-btm .circle-wrap .circle-lg:hover {
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    /*
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, .3);
    box-shadow: 0 0 20px rgba(0, 0, 0, .3);
*/
}

@-webkit-keyframes shadow {
    0% {
        -webkit-box-shadow: 0 0 1px rgba(130, 63, 145, .8);
        box-shadow: 0 0 1px rgba(130, 63, 145, .8);

    }

    100% {
        -webkit-box-shadow: 0 0 100px rgba(130, 63, 145, .2);
        box-shadow: 0 0 100px rgba(130, 63, 145, .2);
    }
}

@keyframes shadow {
    0% {
        -webkit-box-shadow: 0 0 1px rgba(130, 63, 145, .8);
        box-shadow: 0 0 1px rgba(130, 63, 145, .8);

    }

    100% {
        -webkit-box-shadow: 0 0 100px rgba(130, 63, 145, .2);
        box-shadow: 0 0 100px rgba(130, 63, 145, .2);
    }
}

/*animate border css starts*/
.circle-item:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: transparent;
    border-radius: 50%;
    border: dashed 2px #823f91;
    /*
    -webkit-animation-name: Rotate;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: Rotate;
    -moz-animation-duration: 2s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: Rotate;
    -ms-animation-duration: 2s;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
*/
    -webkit-animation: spinning 5s linear infinite;
    animation: spinning 5s linear infinite;
}

@keyframes spinning {
    0% {
        -webkit-transform: rotate(0deg);
        /* Chrome, Opera 15+, Safari 3.1+ */
        /* IE 9 */
        transform: rotate(0deg);
        /* Firefox 16+, IE 10+, Opera */
    }

    50% {
        -webkit-transform: rotate(360deg);
        /* Chrome, Opera 15+, Safari 3.1+ */
        /* IE 9 */
        transform: rotate(360deg);
        /* Firefox 16+, IE 10+, Opera */
    }

    100% {
        -webkit-transform: rotate(720deg);
        /* Chrome, Opera 15+, Safari 3.1+ */
        /* IE 9 */
        transform: rotate(720deg);
        /* Firefox 16+, IE 10+, Opera */
    }
}

@-webkit-keyframes spinning {
    0% {
        -webkit-transform: rotate(0deg);
        /* Chrome, Opera 15+, Safari 3.1+ */
        /* IE 9 */
        transform: rotate(0deg);
        /* Firefox 16+, IE 10+, Opera */
    }

    50% {
        -webkit-transform: rotate(360deg);
        /* Chrome, Opera 15+, Safari 3.1+ */
        /* IE 9 */
        transform: rotate(360deg);
        /* Firefox 16+, IE 10+, Opera */
    }

    100% {
        -webkit-transform: rotate(720deg);
        /* Chrome, Opera 15+, Safari 3.1+ */
        /* IE 9 */
        transform: rotate(720deg);
        /* Firefox 16+, IE 10+, Opera */
    }
}


@keyframes spinningChange {
    0% {
        -webkit-transform: rotate(720deg);
        /* Chrome, Opera 15+, Safari 3.1+ */
        /* IE 9 */
        transform: rotate(720deg);
        /* Firefox 16+, IE 10+, Opera */
    }

    50% {
        -webkit-transform: rotate(360deg);
        /* Chrome, Opera 15+, Safari 3.1+ */
        /* IE 9 */
        transform: rotate(360deg);
        /* Firefox 16+, IE 10+, Opera */
    }

    100% {
        -webkit-transform: rotate(0deg);
        /* Chrome, Opera 15+, Safari 3.1+ */
        /* IE 9 */
        transform: rotate(0deg);
        /* Firefox 16+, IE 10+, Opera */
    }
}

@-webkit-keyframes spinningChange {
    0% {
        -webkit-transform: rotate(720deg);
        /* Chrome, Opera 15+, Safari 3.1+ */
        /* IE 9 */
        transform: rotate(720deg);
        /* Firefox 16+, IE 10+, Opera */
    }

    50% {
        -webkit-transform: rotate(360deg);
        /* Chrome, Opera 15+, Safari 3.1+ */
        /* IE 9 */
        transform: rotate(360deg);
        /* Firefox 16+, IE 10+, Opera */
    }

    100% {
        -webkit-transform: rotate(0deg);
        /* Chrome, Opera 15+, Safari 3.1+ */
        /* IE 9 */
        transform: rotate(0deg);
        /* Firefox 16+, IE 10+, Opera */
    }
}

/*animate border css ends*/
/*==ingredients-section ends==*/
/*==guide-section starts==*/
.guide-section {
    padding: 100px 0;
    text-align: center;
    background-position: 0 0 !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed;
}

.guide-section h2 {
    color: #fff;
}

.guide-section .guide-title {
    padding: 30px 15px;
    border-bottom: solid 2px #fff;
    margin-bottom: 50px;
}

.guide-section .guide-title h4 {
    font-size: 30px;
    font-weight: 300;
    color: #fff;
    margin: 0 auto;
    display: block;
}

.guide-section .guide-list {}

.guide-section .guide-list ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
}

.guide-section .guide-list ul li {
    margin: 0 0 50px 0;
    padding: 0 15px;
    float: left;
    display: block;
    width: 50%;
}

.guide-section .guide-list ul li img {
    margin-bottom: 10px;
}

.guide-section .guide-list ul li p {
    font-size: 22px;
    color: #fff;
    margin-bottom: 0;
    line-height: normal;
    font-weight: 500;
}

/*==guide-section ends==*/

/*==animating bubbles starts==*/

.background-wrap {
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}

/* KEYFRAMES */

@-webkit-keyframes animateBubble {
    0% {
        margin-top: 1000px;
    }

    100% {
        margin-top: -100%;
    }
}

@keyframes animateBubble {
    0% {
        margin-top: 1000px;
    }

    100% {
        margin-top: -100%;
    }
}

@-webkit-keyframes sideWays {
    0% {
        margin-left: 0px;
    }

    100% {
        margin-left: 50px;
    }
}

@keyframes sideWays {
    0% {
        margin-left: 0px;
    }

    100% {
        margin-left: 50px;
    }
}

/* ANIMATIONS */

.x1 {
    -webkit-animation: animateBubble 25s linear infinite, sideWays 2s ease-in-out infinite alternate;
    animation: animateBubble 25s linear infinite, sideWays 2s ease-in-out infinite alternate;

    left: -5%;
    top: 5%;

    -webkit-transform: scale(0.6);
    transform: scale(0.6);
}

.x2 {
    -webkit-animation: animateBubble 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
    animation: animateBubble 20s linear infinite, sideWays 4s ease-in-out infinite alternate;

    left: 5%;
    top: 80%;

    -webkit-transform: scale(0.3);
    transform: scale(0.3);
}

.x3 {
    -webkit-animation: animateBubble 28s linear infinite, sideWays 2s ease-in-out infinite alternate;
    animation: animateBubble 28s linear infinite, sideWays 2s ease-in-out infinite alternate;

    left: 10%;
    top: 40%;

    -webkit-transform: scale(0.5);
    transform: scale(0.5);
}

.x4 {
    -webkit-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
    animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;

    left: 20%;
    top: 0;

    -webkit-transform: scale(0.6);
    transform: scale(0.6);
}

.x5 {
    -webkit-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
    animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;

    left: 30%;
    top: 50%;

    -webkit-transform: scale(0.8);
    transform: scale(0.8);
}

.x6 {
    -webkit-animation: animateBubble 21s linear infinite, sideWays 2s ease-in-out infinite alternate;
    animation: animateBubble 21s linear infinite, sideWays 2s ease-in-out infinite alternate;

    left: 50%;
    top: 0;

    -webkit-transform: scale(0.3);
    transform: scale(0.3);
}

.x7 {
    -webkit-animation: animateBubble 20s linear infinite, sideWays 2s ease-in-out infinite alternate;
    animation: animateBubble 20s linear infinite, sideWays 2s ease-in-out infinite alternate;

    left: 65%;
    top: 70%;

    -webkit-transform: scale(0.8);
    transform: scale(0.8);
}

.x8 {
    -webkit-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
    animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;

    left: 80%;
    top: 10%;

    -webkit-transform: scale(0.3);
    transform: scale(0.3);
}

.x9 {
    -webkit-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
    animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;

    left: 90%;
    top: 50%;

    -webkit-transform: scale(0.6);
    transform: scale(0.6);
}

.x10 {
    -webkit-animation: animateBubble 26s linear infinite, sideWays 2s ease-in-out infinite alternate;
    animation: animateBubble 26s linear infinite, sideWays 2s ease-in-out infinite alternate;

    left: 80%;
    top: 80%;

    -webkit-transform: scale(0.3);
    transform: scale(0.3);
}

.x11 {
    left: 30%;
    top: 5%;
}

.x12 {
    left: auto;
    right: 30%;
    top: 5%;
}

.x13 {
    left: 30%;
    top: auto;
    bottom: 12%;
}

.x14 {
    left: auto;
    top: auto;
    right: 30%;
    bottom: 12%;
}

.x15 {
    left: auto;
    top: 38%;
    left: 3%;
}

.x16 {
    left: auto;
    top: 50%;
    left: 3%;
}

.x17 {
    left: auto;
    top: 38%;
    right: 3%;
}

.x18 {
    left: auto;
    top: 50%;
    right: 3%;
}

.bubble.x15:after,
.bubble.x16:after,
.bubble.x17:after,
.bubble.x18:after {
    width: 40px;
    height: 40px;
}

.x11,
.x12,
.x13,
.x14 {
    display: none;
}

.xs1,
.xs2,
.xs3,
.xs4 {
    z-index: 1;
}

.xs1,
.xs2,
.xs3,
.xs4 {
    left: 25%;
    top: 25%;
}

.xs2,
.xs4 {
    left: auto;
    right: 25%;
}

.xs3,
.xs4 {
    left: auto;
    top: auto;
    right: 24%;
    bottom: 30%;
}

.xs3 {
    left: 24%;
    right: auto;
}

/**/

.xs1,
.xs2,
.xs3,
.xs4 {
    left: 380px;
    top: 25%;
}

.xs2,
.xs4 {
    left: auto;
    right: 370px;
}

.xs3,
.xs4 {
    left: auto;
    top: auto;
    right: 350px;
    bottom: 30%;
}

.xs3 {
    left: 350px;
    right: auto;
}

/* OBJECTS */

.bubble {
    border-radius: 50%;
    position: absolute;
    height: 60px;
    width: 80px;
}

.bubble:after {
    background: #823f91;
    border-radius: 50%;

    content: "";
    height: 60px;
    left: 10px;
    position: absolute;
    width: 60px;
}

/*==animating bubbles ends==*/

/*==animate mouse icon==*/
.scroll-downs {
    margin: auto;
    width: 20px;
    height: 30px;
    -webkit-transform: rotate(-270deg);
    transform: rotate(-270deg);
    position: absolute;
    left: -32px;
    top: -9px;
}

.mousey {
    width: 2px;
    padding: 10px 8px;
    height: 10px;
    border: 2px solid #fff;
    border-radius: 50px;
    opacity: 1;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

.scrollerz {
    width: 3px;
    height: 6px;
    border-radius: 25%;
    background-color: #fff;
    -webkit-animation-name: scroll;
    animation-name: scroll;
    -webkit-animation-duration: 2.2s;
    animation-duration: 2.2s;
    -webkit-animation-timing-function: cubic-bezier(.15, .41, .69, .94);
    animation-timing-function: cubic-bezier(.15, .41, .69, .94);
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

@-webkit-keyframes scroll {
    0% {
        opacity: 0;
    }

    10% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        -webkit-transform: translateY(15px);
        transform: translateY(15px);
        opacity: 0;
    }
}

@keyframes scroll {
    0% {
        opacity: 0;
    }

    10% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        -webkit-transform: translateY(15px);
        transform: translateY(15px);
        opacity: 0;
    }
}

/*==animate mouse icon ends==*/
.banner-wrap .banner .item .scroller.dark .mousey {
    border-color: #000;
}

.banner-wrap .banner .item .scroller.dark .scrollerz {
    background: #000;
}
